---
import { BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import SocialIcon from "../components/common/SocialIcon.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { title, description, pubDate, updatedDate, badge, mediumLink } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
---

<BaseLayout title={title} description={description} sideBarActiveItemID="blog">
    <article class="max-w-[750px] lg:min-w-[750px]">
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      <div class="flex content-center">
        {pubDate && <time>{displayDate}</time>}
        {mediumLink && <SocialIcon social="medium" link={ mediumLink }/>}
      </div>
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
      <div class="divider my-2"/>
      <div class="prose prose-lg prose-img:mx-auto">
        <slot />
      </div>
    </article>
</BaseLayout>